body {
	
	color: black;
	text-align: center;
	background-image: url('lrt.jpg');
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	font-family: "Crimson Text", serif;

}
.container {
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
}
